.cxx
.DS_Store
.externalNativeBuild
.gradle
.idea/
.kotlin
*.iml
**/build/
/.idea/assetWizardSettings.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/workspace.xml
/build
/captures
/local.properties
local.properties
firebase/*.log
firebase/.firebase/
